{
  "env": {
    "browser": true,
    "es6": true
  },
  "extends": "airbnb-base",
  "globals": {
    "Atomics": "readonly",
    "SharedArrayBuffer": "readonly"
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "rules": {
    "no-console": "off",
    "no-restricted-syntax": [
      "error",
      {
        "selector": "CallExpression[callee.object.name='console'][callee.property.name!=/^(log|warn|error|info|trace)$/]",
        "message": "Unexpected property on console object was called"
      }
    ],
    "eqeqeq": ["error", "always"],
    "complexity": ["error", 12],
    "max-len": ["error", { "code": 80, "comments": 65, "ignoreUrls": true }],
    "max-depth": ["error", 4],
    "max-lines-per-function": ["error", { "max": 25, "skipComments": true, "skipBlankLines": true }],
    "no-unreachable": "error",
    "consistent-return": "off",
    "no-return-await": "error",
    "no-return-assign": "error",
    "import/prefer-default-export": "warning",
    "no-multiple-empty-lines": ["error", { "max": 1, "maxBOF": 1, "maxEOF": 1 }],
    "lines-between-class-members": ["error", "always", { "exceptAfterSingleLine": true }],
    "padding-line-between-statements": [
      "error",
      { "blankLine": "always", "prev": ["const", "if"], "next": "*"},
      { "blankLine": "never", "prev": ["const"], "next": ["const", "return"]},
      { "blankLine": "never", "prev": ["if"], "next": ["if", "const"]}
    ],
    "indent": ["error", 2]
  }
}
